In [1]:
print(1000)

1000

In [2]:
print(234, 456)

234 456

In [3]:
print()

In [7]:
print(23, 12.3)# integer and floatin value

23 12.3

In [8]:
print("Farhan") #string

Farhan

In [9]:
print("12")

12

In [10]:
print("1233pakistan") #combination of string and integer that type of daya called alpha numeric data

1233pakistan

In [15]:
print("pakitsan","leo",'asad' ,sep=' ') #sep stand for separator

pakitsan leo asad

In [17]:
print("hello world1")
print("hello world2")
print("hello world3")

hello world1
hello world2
hello world3

In [21]:
print("hello world1", end="\n\n")
print("hello world2",end="\n\n")
print("hello world3")

hello world1

hello world2

hello world3

In [22]:
print("hello world1", end="")
print("hello world2",end="")
print("hello world3")

hello world1hello world2hello world3

In [23]:
print("i am a programmer",end="\t")
print("i am a data scientist",end="\t")
print("Meta data")

i am a programmer	i am a data scientist	Meta data

# Assignment>>> explore escape characters